<%- include ../header.ejs %>

<h1 class="deep-orange-text text-lighten-1 center flight-card-title"><%= user.name %>'s Dashboard</h1>
<div class="container" style="margin-bottom: 50px">

    <% user.trips.forEach(trip => { %>
        <% if (trip.flights.length > 0) { %>
            <% if (trip.flights[0].departureTime > Date.now()) { %>

    <div class="card cyan darken-3">
        <div class="card-header cyan darken-3">
            <div class="card-title">
                <h4 class="white-text flight-card-title" style="margin-left: 30px">Upcoming Flights</h4>
                <p class="white-text" style="margin-left: 30px"><%= trip.departureDate.toString().slice(0,15) %></p>
            </div>
        </div>
        <div class="card-content-bg white-text">
            <% trip.flights.forEach(flight => { %>
            <div class="card-content cyan darken-2">
                <div class="row">
                    <div class="col s4 center-align">
                        <div class="flight-state">
                            <h4 class="white-text" style="margin-bottom: 5px"><%= flight.origin %></h4>
                            <p class="white-text"><%= flight.departureCity %></p>
                        </div>
                    </div>
                    <div class="col s4 center-align">
                            <i class="medium material-icons white-text" style="transform: rotate(90deg)">flight</i>
                    </div>
                    <div class="col s4 center-align">
                        <div class="flight-state">
                            <h4 class="white-text" style="margin-bottom: 5px"><%= flight.destination %></h4>
                            <p class="white-text"><%= flight.arrivalCity %></p>
                        </div>
                    </div>    
                </div>
                <div class="row">
                    <div class="col s4 center-align">
                        <div class="flight-info">
                            <p class="white-text">Depart: <%= flight.departureTime.toString().slice(0,21) %></p>
                            <p class="white-text">Airline: <%= flight.airline %></p>
                            <p class="white-text">Flight Number: <%= flight.flightNumber %></p>
                        </div>
                    </div>
                    <div class="col s4 center-align">
                            <i class="medium material-icons white-text"></i>
                    </div>
                    <div class="col s4 center-align flight-state-two">
                        <div class="flight-info">
                            <p class="white-text">Arrive: <%= flight.arrivalTime.toString().slice(0,21) %></p>
                            <p class="white-text">Airline: <%= flight.airline %></p>
                            <p class="white-text">Flight Number: <%= flight.flightNumber %></p>
                        </div>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>
    </div>
            <% } %>
        <% } %>
    <% }) %>
</div>
<div class="container" style="margin-bottom: 30px">
    <div id="flight-card" class="card teal lighten-1">
        <div class="card-header teal lighten-1">
            <div class="card-title">
                <h4 class="white-text flight-card-title" style="margin-left: 30px">Past Trips</h4>
            </div>
        </div>
        <table class="highlight responsive-table centered teal lighten-2">
            <thead class="white-text">
                <tr>
                    <th>Depart</th>
                    <th>Arrive</th>
                    <th>Airline</th>
                    <th>Rates</th>
                </tr>
            </thead>
            <tbody class="white-text">
                <tr>
                    <td>LDN</td>
                    <td>SFO</td>
                    <td>Alaska</td>
                    <td>$120.87</td>
                </tr>
                <tr>
                    <td>LAX</td>
                    <td>TOK</td>
                    <td>Delta</td>
                    <td>$540.76</td>
                </tr>
                <tr>
                    <td>CHI</td>
                    <td>JFK</td>
                    <td>Jet Blue</td>
                    <td>$140.00</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<%- include ../footer.ejs %>