<%- include ../header.ejs %>

<section class="container" id="flights-display">
  <div class="row">
    <h1 class="deep-orange-text text-lighten-1 center flight-card-title">Trip Itineraries</h1>
    <div class="divider"></div>
  </div>
  <div class="row">
    <div class="col s12">
      <a href="/flights/search" id="newSearch" class="btn waves-effect waves-light btn-large">New Flight Search</a>
    </div>
  </div>
  <% flightSearchResults.results.forEach(result => { %>
    <% result.itineraries.forEach(itinerary => { %>
      <div class ="row">
        <div class="card cyan darken-3 col s12 m5" style="padding: 10px">
          <div class="card-header cyan darken-3">
            <div class="card-title">
              <h4 class="white-text flight-card-title" style="margin-left: 4px">Outbound</h4>
            </div>
          </div>
          <div class="card-content-bg white-text">
            <div class="card-content cyan darken-2">
              <% itinerary.outbound.flights.forEach(flight => { %>
                <div class="row">
                  <div class="col s4 center-align">
                    <div class="flight-state">
                      <h4 class="white-text" style="margin-bottom: 5px"><%= flight.origin.airport %></h4>
                      <p class="white-text"><%= flight.flight_number %></p>
                    </div>
                  </div>
                  <div class="col s4 center-align">
                    <i class="small material-icons white-text" style="transform: rotate(90deg); margin-top: 20px">flight</i>
                  </div>
                  <div class="col s4 center-align">
                    <div class="flight-state">
                      <h4 class="white-text" style="margin-bottom: 5px"><%= flight.destination.airport %></h4>
                    </div>
                  </div>    
                </div>
                <div class="row">
                  <div class="col s4 center-align">
                    <div class="flight-info">
                      <p class="white-text">Departs: <%= flight.departs_at %></p>
                      <p class="white-text">Airline: <%= flight.marketing_airline %></p>
                      <p class="white-text">Terminal: <%= flight.origin.terminal %></p>
                    </div>
                  </div>
                  <div class="col s4 center-align">
                    <i class="medium material-icons white-text"></i>
                  </div>
                  <div class="col s4 center-align flight-state-two">
                    <div class="flight-info">
                      <p class="white-text">Arrives: <%= flight.arrives_at %></p>
                      <p class="white-text">Terminal: <%= flight.destination.terminal %></p>
                    </div>
                  </div>
                </div>
              <% }) %>                            
            </div>
          </div>
        </div>
        <div class="card teal lighten-1 col s12 m5" style="padding: 10px">
          <div class="card-header teal lighten-1">
            <div class="card-title">
              <h4 class="white-text flight-card-title" style="margin-left: 4px">Inbound</h4>
            </div>
          </div>
          <div class="card-content-bg white-text">
            <div class="card-content teal lighten-2">
              <% itinerary.inbound.flights.forEach(flight => { %>
                <div class="row">
                  <div class="col s4 center-align">
                    <div class="flight-state">
                      <h4 class="white-text" style="margin-bottom: 5px"><%= flight.origin.airport %></h4>
                      <p class="white-text"><%= flight.flight_number %></p>
                    </div>
                  </div>
                  <div class="col s4 center-align">
                    <i class="small material-icons white-text" style="transform: rotate(90deg); margin-top: 20px">flight</i>
                  </div>
                  <div class="col s4 center-align">
                    <div class="flight-state">
                      <h4 class="white-text" style="margin-bottom: 5px"><%= flight.destination.airport %></h4>
                    </div>
                  </div>    
                </div>
                <div class="row">
                  <div class="col s4 center-align">
                    <div class="flight-info">
                      <p class="white-text">Departs: <%= flight.departs_at %></p>
                      <p class="white-text">Airline: <%= flight.marketing_airline %></p>
                      <p class="white-text">Terminal: <%= flight.origin.terminal %></p>
                    </div>
                  </div>
                  <div class="col s4 center-align">
                    <i class="medium material-icons white-text"></i>
                  </div>
                  <div class="col s4 center-align flight-state-two">
                    <div class="flight-info">
                      <p class="white-text">Arrives: <%= flight.arrives_at %></p>
                      <p class="white-text">Terminal: <%= flight.destination.terminal %></p>
                    </div>
                  </div>
                </div>
              <% }) %>                            
            </div>
          </div>
        </div>
        <div class="col s12 m2">
          <p class="blue-grey-text">Price:</p>
          <h4 class="flight-card-title blue-grey-text">$<%= result.fare.total_price %></h4>
          <form action="/trips/<%= tripId %>/flights" method="POST">
            <% itinerary.outbound.flights.forEach(flight => { %>
              <input type="hidden" name="<%= flight.origin.airport %><%= flight.operating_airline %><%= flight.flight_number %><%= flight.aircraft %>[outbound]" value="true">
              <input type="hidden" name="<%= flight.origin.airport %><%= flight.operating_airline %><%= flight.flight_number %><%= flight.aircraft %>[origin]" value="<%= flight.origin.airport %>">
              <input type="hidden" name="<%= flight.origin.airport %><%= flight.operating_airline %><%= flight.flight_number %><%= flight.aircraft %>[destination]" value="<%= flight.destination.airport %>">
              <input type="hidden" name="<%= flight.origin.airport %><%= flight.operating_airline %><%= flight.flight_number %><%= flight.aircraft %>[departureTime]" value="<%= flight.departs_at %>">
              <input type="hidden" name="<%= flight.origin.airport %><%= flight.operating_airline %><%= flight.flight_number %><%= flight.aircraft %>[arrivalTime]" value="<%= flight.arrives_at %>">
              <input type="hidden" name="<%= flight.origin.airport %><%= flight.operating_airline %><%= flight.flight_number %><%= flight.aircraft %>[airline]" value="<%= flight.marketing_airline %>">
              <input type="hidden" name="<%= flight.origin.airport %><%= flight.operating_airline %><%= flight.flight_number %><%= flight.aircraft %>[flightNumber]" value="<%= flight.flight_number %>">
              <input type="hidden" name="<%= flight.origin.airport %><%= flight.operating_airline %><%= flight.flight_number %><%= flight.aircraft %>[itineraryPrice]" value="<%= result.fare.total_price %>">
            <% }) %>
            <% itinerary.inbound.flights.forEach(flight => { %>
              <input type="hidden" name="<%= flight.origin.airport %><%= flight.operating_airline %><%= flight.flight_number %><%= flight.aircraft %>[outbound]" value="false">
              <input type="hidden" name="<%= flight.origin.airport %><%= flight.operating_airline %><%= flight.flight_number %><%= flight.aircraft %>[origin]" value="<%= flight.origin.airport %>">
              <input type="hidden" name="<%= flight.origin.airport %><%= flight.operating_airline %><%= flight.flight_number %><%= flight.aircraft %>[destination]" value="<%= flight.destination.airport %>">
              <input type="hidden" name="<%= flight.origin.airport %><%= flight.operating_airline %><%= flight.flight_number %><%= flight.aircraft %>[departureTime]" value="<%= flight.departs_at %>">
              <input type="hidden" name="<%= flight.origin.airport %><%= flight.operating_airline %><%= flight.flight_number %><%= flight.aircraft %>[arrivalTime]" value="<%= flight.arrives_at %>">
              <input type="hidden" name="<%= flight.origin.airport %><%= flight.operating_airline %><%= flight.flight_number %><%= flight.aircraft %>[airline]" value="<%= flight.marketing_airline %>">
              <input type="hidden" name="<%= flight.origin.airport %><%= flight.operating_airline %><%= flight.flight_number %><%= flight.aircraft %>[flightNumber]" value="<%= flight.flight_number %>">    
              <input type="hidden" name="<%= flight.origin.airport %><%= flight.operating_airline %><%= flight.flight_number %><%= flight.aircraft %>[itineraryPrice]" value="<%= result.fare.total_price %>">
            <% }) %> 
            <button class="waves-effect deep-orange lighten-1 waves-light btn-large" type="submit"><i class="material-icons right">insert_invitation</i>Book</button>
          </form>
        </div>
      </div>
    <% }) %>
  <% }) %>
</section>

<%- include ../footer.ejs %>  
